* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 1110px;
    margin: 0 auto;
}

.clearfix::after {
    display: table;
    clear: both;
    content: '';
}

.main-container {
    width: 80%;
    margin: 0 auto;
}

.column {
    float: left;
    padding: 0 15px;
}

.half.column  {
    width: 50%;
}

.one.column  {
    width: 100%;
}
/*** fine layout base ***/

/*** inizio header ***/
header {
    background-color: white;
    height: 67px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.header-left {
    width: 25%;
    float: left;
    line-height: 67px;
}

#logo {
    position: relative;
    height: 14px;
}

.header-right {
    width: 75%;
    height: 67px;
    float: right;
}

/*** inizio menu ***/

#main-menu {
    list-style-type: none;
    float: right;
}

#main-menu li {
    float: left;
}

#main-menu li:not(.language) {
    margin-right: 24px;
}

/* alternativa con i bordi per fare le righe verticali che separano le lingue
#main-menu li.language a {
    padding: 5px;
}

#main-menu li.language:nth-child(7) a {
    border-left: 1px solid black;
    border-right: 1px solid black;
}
*/

#main-menu li.language:not(:last-child)::after {
    content: '|';
    margin-left: 3px;
    margin-right: 3px;
    font-size: 20px;
}

#main-menu li a {
    font-size: 12px;
    line-height: 67px;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
}
/*** fine menu ***/
/*** fine header ***/

/*** inizio jumbotron ***/
#jumbo {
    height: 560px;
    background-image: url('https://www.helbiz.com/asset/pages/newhome/images/hero-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 67px;
    position: relative;
}

#jumbo-overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
}

.jumbo-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.jumbo-text h1 {
    font-size: 40px;
}

.jumbo-text p {
    margin: 12px 0;
}
/*** fine jumbotron ***/

/*** inizio altre sezioni ... ***/
#second {
    padding-top: 80px;
    padding-bottom: 80px;
}

.product {
    background-color: #fafafa;
    padding: 50px 0;
    text-align: center;
}

.product img:last-child {
    width: 200px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.product p {
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 10px
}

span {
    display: block;
}

.product a {
    font-size: 21px;
    text-decoration: none;
    color: #0070c8;
}

.product a:hover {
    text-decoration: underline;
    color: #0070c8;
}

#helbizgo {
    height: 22px;
}

#helbizbike {
    height: 22px;
}

/*** Third ***/

#third {
    margin: auto;
}

#signore {
    width: 100%;
    height: 450px:
}        

.iphone-screen {
    position: relative;
    width: 70%;
    margin: 0 auto 50px auto;;
    padding-top: 70px;
    padding-bottom: 120px;
}

.iphone-left-part {
    width: 25%;
    float: left;
    font-size: 22px;
}

#content-iphone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-55%, -86%);
    height: 520px;
}

#border-iphone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-53%, -76%);
    height: 630px;
}

.iphone-right-part {
    float: right;
    width: 25%;
}

.iphone-right-part h3 {
    font-size: 18px;
    margin-bottom: 20px;
}

.iphone-right-part span {
    font-size: 14px;
}

/*** Fourth ***/

.one.column {
    background-image: url("https://helbiz.com/asset/pages/newhome/images/ScooterHelbiz-2400.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 98%;
    margin-left: 15px;
}

.text-one {
    padding: 100px 95px 100px 0;
    color: white;
    float: right;
    text-align: center;
    width: 35%;
}

.text-one h2 {
    font-size: 45px;
}

.text-one p {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 22px;
}

.text-one a {
    color: white;
    text-decoration: none;
    font-size: 22px;
}

.text-one a:hover {
    text-decoration: underline;
    color: white;
}

/*** Half column ***/

.column1 {
    margin-top: 30px;
    background-color: #33475b;
    position: relative;
    color: white;
    text-align: center;
    height: 600px;
    margin-bottom: 30px;
}

.column1 h2 {
    font-size: 45px;
    padding-top: 50px;
}

.column1 p {
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.column1 a {
    text-decoration: none;
    color: white;
    font-size: 22px;
    padding: 0 15px 0 15px;
}

.column1 a:hover {
    text-decoration: underline;
    color: white;
}

.column1 img {
    width: 500px;
    position: absolute;
    bottom: 0;
    left: 100px;
}

.column2 {
    background-image: url("https://helbiz.com/asset/pages/newhome/images/Cities-1500.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.column2 {
    margin-top: 30px;
    color: white;
    text-align: center;
    height: 600px;
    margin-bottom: 30px;
}

.column2 h2 {
    font-size: 45px;
    padding-top: 50px;
}

.column2 p {
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.column2 a {
    text-decoration: none;
    color: white;
    font-size: 22px;
}

.column2 a:hover {
    text-decoration: underline;
    color: white;
}

/*** Social ***/

.instagram {
    background-image: url("https://helbiz.com/asset/pages/newhome/images/Social-Banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 420px;
    margin-bottom: 30px;
    position: relative;
}

#social-text {
    background-color: white;
    color: black;
    text-align: center;
    padding: 50px 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#social-text h3 {
    font-size: 33px;
}

#social-text i {
    color: black;
    font-size: 24px;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
}

/*** Footer ***/

footer {
    background-color: black;
    padding-top: 100px;
    padding-bottom: 100px;
}

/*** First container ***/

.first-container-footer {
    width: 1110px;
    margin: 0 auto;
    padding-bottom: 100px;
    display: block;
}

.logo-bottom {
    float: left;
    width: 118px;
    margin-right: 200px;
}

.links{
    float: left;
    width: 23%;
    display: block;
}

.first-container-footer h3 {
    color: white;
    text-transform: uppercase;
    font-size: 17px;
    margin-bottom: 20px;
}

.first-container-footer a {
    text-decoration: none;
    color: grey;
    font-size: 15px;
    line-height: 30px;
}

.first-container-footer ul li {
    list-style-type: none;
}

/*** Center container ***/

.center-container-footer {
    margin: 0 auto;
    width: 1110px;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    display: block;
    padding-top: 40px;
    padding-bottom: 30px;
}

.social-footer {
    width: 25%;
    float: left;
    color: white;
    font-size: 18px;
    margin-right: 45px;
}

.social-footer i {
    padding: 10px 15px 10px 15px;
    cursor: pointer;
}

.legal-stuff {
    width: 23%;
    float: left;
}

.legal-stuff span {
    display: block;
    font-size: 13px;
    line-height: 35px;
}

.legal-stuff a {
    color: white;
    text-decoration: none;
}

/*** Last container ***/

.last-container-footer {
    margin: 0 auto;
    text-align: center;
}

.last-container-footer a {
    padding: 10px;
}

.last-container-footer img {
    margin-top: 40px;
    border: 1px solid white;
    border-radius: 5px;
    height: 37px;
}
